html{
    scroll-behavior: smooth;
}
body{
    height: auto;
    width: 100%;
    background-color: white;
    margin: 0;
}
header{
    width: 250px;
    background-color: transparent;
    display: block;
    align-items: initial;
    overflow: hidden;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 20px;
    z-index: 5;
}
.montreheader{
    height: auto;
}
.coin{
    position: absolute;
    background-color: white;
    border: solid midnightblue 5px;
    border-left: none;
    width: 180px;
    height: 420px;
    border-bottom-right-radius: 200px;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-box-shadow: 5px 5px 21px 1px #000000; 
    box-shadow: 5px 5px 21px 1px #000000;
}
.bandeau{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: orange;
    color: midnightblue;
    font-family: arial;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    z-index: 2;
}
.bandeau a{
    text-decoration: none;
    color: midnightblue;
    font-family: arial;
    font-weight: bold;
}
.scores{
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: midnightblue;
    color: white;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px;
    height: auto;
    width: auto;
    font-size: 30px;
    border-radius: 30px;
    border: white 2px dashed;
}
.logo{
    position: absolute;
    height: 120px;
    width: 120px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 5;
}
.marque{
    position: absolute;
    top: 200px;
    width: 120px;
    margin-left: 20px;
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    color: midnightblue;
    text-align: center;
    line-height: 20px;
    z-index: 5;
}
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.bouttonnav{
    position: absolute;
    left: 45px;
    text-align: center;
    visibility: visible;
    top: 300px;
    text-align: center;
    z-index: 1;
}
.barre{
    width: 40px;
    height: 8px;
    background-color: orange;
    margin-top: 8px;
}
#barre1{
    transform: rotate(70deg) translateX(40px);
}
#barre2{
    transform: rotate(-20deg) translateY(48px) translateX(-12px);
}
.croix #barre1{
    transform: rotate(250deg) translateX(-51px) translateY(-10px);
}
.croix #barre2{
    transform: rotate(160deg) translateY(-12px) translateX(-12px);
}
nav{
    visibility: hidden;
    position: absolute;
    top: 400px;
    padding: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 8;
}
.montrenav{
    visibility: visible;
    background-color: bisque;
}
ul{
    width: 100%;
    padding: 0;
    display: block;
    margin-top: 20px;
    padding-top: 30px;
}
li{
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    list-style: none;
    margin-bottom: 50px;
}
li a{
    font-style: normal;
    color: midnightblue;
    text-decoration: none;
}
li:hover{
    text-decoration: underline 2px;
    text-underline-offset: 5px;
    cursor: pointer;
}
h2{
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: arial;
}
h3{
    font-family: Arial;
    font-size: 34px;
}
.prefer h3{
    font-weight: bold;
    font-size: 60px;
}
.prefer p{
    margin-top: -50px;
    margin-bottom: 100px;
}
.prefer{
    display: block;
    padding-top: 400px;
    margin-top: -200px;
    text-align: center;
    background-color: midnightblue;
    color: white;
    padding-bottom: 150px;
    margin-bottom: -60px;
    z-index: -2;
}
h1{
    font-family: arial;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
#engrenagedroit{
    background-image: url(pignon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#cachepoteau{
    background-image: url(cachepoteau.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#gachevelux{
    background-image: url(gachevelux.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.bande{
    display: flex;
    justify-content: space-around;
}
.produitprefer{
    position: relative;
    width: 28%;
    height: 300px;
    margin-bottom: 40px;
    background-color: brown;
    -webkit-box-shadow: 10px 10px 0px 2px white; 
    box-shadow: 10px 10px 0px 2px white;
    border-radius: 20px;text-align: center;
}
.bande p{
    width: 33%;
    color: white;
    z-index: 5;
    padding-top: 50px;
    font-family: arial;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.choix{
    width: 28%;
    height: 100px;
    display: block;
    text-align: center;
}
.choix button{
    width: 100%;
    height: 50px;
    border-radius: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.titreproduitprefer{
    color: white;
    font-size: 28px;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 5px;
    padding-bottom: 200px;
}
.couleurs{
    position: absolute;
    width: 100%;
    text-align: left;
    justify-content: space-around;
    display: flex;
    bottom: 20px;
}
.blanc{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    border: none;
}
.noir{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
}
.bleu{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: midnightblue;
    color: white;
    border: solid 2px white;
}
.orange{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: orange;
    border: none;
}
.anthracite{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #383838;
}
.beige{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: beige;
}
.transparent{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
    border: none;
}
.cta{
    font-family: arial;
    font-weight: bold;
    font-size: 36px;
    color: white;
    background-color: orange;
    -webkit-box-shadow: 13px 15px 0px 2px #10009E; 
    box-shadow: 13px 15px 0px 2px #10009E;
    border: none;
    border-radius: 100px;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}
footer{
    height: auto;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: arial;
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 5px solid white;
}
footer h4{
    margin-bottom: 50px;
}
footer a{
    color: white;
}
.ajout{
    display: block;
}
.ajout img{
    width: 60%;
    margin-bottom: 50px;
}